<!DOCTYPE html>
<html>

<head>
    <title>Bloom - Delete Zones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/flat-green.css">
</head>

<body class="flat-green">
    <div class="app-container">
        <div class="loader-container text-center color-white">
            <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
        </div>
        <div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">
                        <div>
                            <a class="btn btn-primary-outline pull-left" href="/app/zones" role="button" style="color: black; padding: 0px; margin: 0px;">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </a>
                            <h4 align="center">Delete Zones</h4>
                            <hr/>
                        </div>
                        <form class="form-horizontal" role="form" action="/app/zones/delete" method="POST">
                            <div class="form-group" style="padding: 0px 20px;">
                                <label for="sel1">Zone</label>
                                <select class="form-control" id="zone" name="zone">
                                {% for key, value in zones.iteritems() %}  
                                <option value={{ key }}>{{ key }} - {{ value }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                                    <button type="submit" id="delete" class="btn btn-primary">Delete</button>
                                </div>
                            </div>          
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2016 Copyright.
            </div>
        </footer>
    <div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="/static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/static/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/theme-github.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript">
        $('#delete').click(function() {
            $(".app-container").toggleClass('loader');
        });
    </script>
</body>

</html>