<!DOCTYPE html>
<html>

<head>
    <title>Bloom - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="loader-container text-center color-white">
            <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
        </div>
        <div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Weather</div>
                                    </div>
                                </div>
                                <div class="card-body" style="padding: 10px;">
                                    <div class="container-fluid">
                                        <div class="row no-margin-bottom no-gutter">
                                            <div class="col-xs-3"><img class="img-responsive" src={{ weather_icon }}></div>
                                            <div class="col-xs-9">
                                                <div class="row vertical-align">
                                                    <span style="font-weight:bold;">{{ temperature }} &deg;F, {{ weather_status }} in {{ city }}</span>
                                                </div>
                                                <div class="row vertical-align">
                                                        <span>Humidity: {{ humidity }}% Rain Vol: {{ rain_volume }}mm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Coming Up</div>
                                    </div>
                                </div>

                                <div class="card-body" style="padding: 10px;">
                                    <div class="container-fluid">
                                            <div class="row no-margin-bottom no-gutter">
                                                <div class="col-xs-12">
                                                    <div class="row vertical-align">
                                                        <span style="font-weight:bold;">Next watering cycle in {{ interval }} days on</span>
                                                    </div>
                                                    <div class="row vertical-align">
                                                        <span>{{ next_date }} at {{ start_time }}</span>
                                                    </div>
                                                    {% if delay is defined and delay != ''%}
                                                        <div class="row vertical-align">
                                                            <button type ="button" id = "delay_btn" class="btn btn-primary" disabled>Delayed by {{ delay }} min</a>
                                                        </div>
                                                    {% else %}
                                                        <div class="row vertical-align">
                                                            <button type ="button" id = "delay_btn" class="btn btn-primary">Delay</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal fade delay_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Temporary Delay Schedule Time</h4>
                                </div>
                                <div class="modal-body">
                                    <div style="padding: 0px 20px;">
                                        <div class="radio">
                                            <label><input type="radio" name="delradio" value="1" checked>1 Minute</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="delradio" value="15">15 Minutes</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="delradio" value="30">30 Minutes</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="delradio" value="45">45 Minutes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="delay_schedule()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2016 Copyright.
            </div>
        </footer>
    <div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="/static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript" src="/static/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/static/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="/static/lib/js/ace/theme-github.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/card.js"></script>
    <script type="text/javascript">
        $('#delay_btn').click(function(){
            $('.delay_modal').modal('show');
        });

        function delay_schedule(){
            $('.delay_modal').modal('hide');
            $(".app-container").toggleClass('loader');
            var delradioval = $('input:radio[name=delradio]:checked').val();
            var data = { "delay": delradioval }
            $.ajax({
                type: 'POST',
                url: '/app/settings',
                data: data,
                success: function(data) { 
                    $(".app-container").toggleClass('loader');
                },
                dataType: 'html'
            });
        }
    </script>
</body>

</html>
