{% extends "layout.html" %}
{% block body %}
  <!--
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  -->
  {% if session.logged_in %}
    <ul class="entries">
    {% for entry in entries %}
      <li><h2>{{ entry.id }}. {{ entry.time }}</h2>Temperature: {{ entry.temperature|safe }} Celsius<br>Moisture: {{ entry.moisture|safe }}%
    {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </ul>
  {% else %}
    <div><h2>You need to log in to see database entries!</h2></div>
  {% endif %}
{% endblock %}
