<!DOCTYPE html>
<html>

<head>
    <title>Bloom - Zones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/flat-green.css">
    <style>
        .btn-circle {
          width: 80px;
          height: 80px;
          line-height: 100px; /* adjust line height to align vertically*/
          padding:5px;
          border-radius: 50%;
        }
    </style>
</head>

<body class="flat-green">
    <div class="app-container">
        <div class="loader-container text-center color-white">
            <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
        </div>
        <div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">
                        <div class="modal fade confirm_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to manually toggle the zone?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" onclick="zone_trigger()">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for key, value in zones.iteritems() %}
                        <div class="row" style="padding: 0px 0;">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-4">
                                <button type="button" class="btn btn-primary btn-circle"><i class="icon fa fa-power-off fa-4x zone_settings" id={{ key }}></i></button>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-8 text-right">
                                <div style="padding-right: 20px;">
                                    <h2 style="margin-top: 10px;"> {{ value }} </h2>
                                    <span> Zone #{{ key }} <span>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><hr style="margin: 0;"></div>
                            <!--
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="card dark summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-power-off fa-4x zone_settings" id={{ key }}></i>
                                        <div class="content">
                                            <div class="title">{{ value }}</div>
                                            <div class="sub-title">Zone #{{ key }}</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </div> 
                            -->
                        </div>
                        {% endfor %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                            <button type="button" class="btn btn-primary" onclick="window.location.href='zones/add'">Add/Edit</button>
                            <button type="button" class="btn btn-default" onclick="window.location.href='zones/delete'" style="margin-left: 10px;">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2016 Copyright.
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="/static/lib/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/Chart.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="/static/lib/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/select2.full.min.js"></script>
            <script type="text/javascript" src="/static/lib/js/ace/ace.js"></script>
            <script type="text/javascript" src="/static/lib/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="/static/lib/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="/static/js/app.js"></script>
            <script type="text/javascript" src="/static/js/index.js"></script>
            <script type="text/javascript">
                var pin_num;
                $(".zone_settings").click(function(){
                    //alert(this.id);
                    pin_num = this.id;
                    $('.confirm_modal').modal('show');
                });

                function zone_trigger(){
                    $('.confirm_modal').modal('hide');
                    $(".app-container").toggleClass('loader');
                    var classes = $('#' + pin_num).attr('class').split(" ");
                    var state;
                    console.log(classes);
                    if (classes.indexOf("fa-power-off") > -1) {
                        state = "1";
                    } else {
                        state = "0";
                    }
                    zone_data = {"port":"0","pin":pin_num, "state":state}
                    $.ajax({
                        type: 'POST',
                        url: '/ioexp/',
                        data: JSON.stringify (zone_data),
                        success: function(data) { 
                            $(".app-container").toggleClass('loader');
                            $("#" + pin_num).toggleClass("fa-power-off");
                            $("#" + pin_num).toggleClass("fa-refresh fa-spin");
                        },
                        contentType: "application/json",
                        dataType: 'json'
                    });
                }
            </script>
</body>

</html>
